#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.flask:hover {
  filter: drop-shadow(0 0 2em #000);

  @media (prefers-color-scheme: dark) {
    filter: drop-shadow(0 0 2.5em #fff);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loading {
  font-style: italic;
}

.error {
  color: red;
  font-style: italic;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #198754; /* Primary green */
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-img {
  height: 40px; /* Adjust logo size */
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white; /* White text for better contrast */
  font-weight: bold;
  padding: 5px 10px;
  transition: background-color 0.3s, border-radius 0.3s;
}

.nav-links a:hover {
  background-color: #145c39; /* Darker shade for hover */
  border-radius: 5px;
}

.logout-btn {
  color: #ffc107; /* Yellow for logout button */
  font-weight: bold;
}

.logout-btn:hover {
  color: white;
  background-color: #dc3545; /* Red for logout hover */
  border-radius: 5px;
}
